#################################################################
#################################################################
######################## PRETTIER IGNORE ########################
#################################################################
#################################################################

/dist
/coverage
.angular
